body {
	font-family: "Calibri";
	font-size: 10pt;
	float: left;
	text-align: justify;
	margin: auto;
	width: 100%;
	/* min-width: 1200px; */
	min-height: 100%;
	overflow: scroll;
	background-color: #f4f7fc;
}

#header {
	/* padding-top: 10px; */
	width: 100%;
	max-width: 100%;
	min-width: 1000px;
	height: 12%;
	position: fixed;
	color: #302873;
	z-index: 1000;
	background-color: #f7ad59;
}

#contents {
	padding-bottom: 60px;
	padding-left: 2%;
	padding-right: 2%;
	position: relative;
	width: 94%;
	height: 100%;
	margin-top: 7%;
}

@media only screen and (max-width: 1350px) {
	#contents {
		padding-left: 2%;
		position: relative;
		/* width: 1200px; */
		height: 100%;
		padding-bottom: 27px;
		padding-top: 5px;
		margin-bottom: 33px;
		margin-top: 7%;
	}
	#header {
		width: 100%;
		max-width: 100%;
		min-width: 1000px;
		height: 70px;
		position: fixed;
		color: #fff;
		z-index: 1000;
		background-color: #302873;
	}
}

#title a {
	color: #b7e4ff;
	font-size: 28pt !important;
}

#title a:hover {
	opacity: 0.7;
}

#title_lable {
	margin-left: 5%;
	line-height: 0.5pt;
	color: #302873;
	/* font-size: 24pt; */
	font-size: 20pt;
}

.main_title {
	margin-left: 10px;
	float: left;
	margin-top: 15px;
}

div.footer {
	background: #302873;
	color: #fff;
	text-align: center;
	bottom: 0;
	width: 100%;
	max-width: 100%;
	min-width: 1000px;
	height: 20px;
	position: fixed;
	z-index: 1000 !important;
}

#title {
	position: relative;
	float: left;
	left: 3%;
	font-size: 15pt;
	width: 30%;
}